.d3f-navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  background: #00bcd4;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
  > nav{
    margin: 0;
  }
}

.d3f-logo {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
