<md-sidenav-container class="d3f-survey-container">
  <md-sidenav #sidenav class="d3f-survey-sidenav"
              opened="!isScreenSmall()"
              mode="isScreenSmall() ? 'over' : 'side'">
    <nav *ngFor="let category of surveyMenu.getItemsInCategories()">
      <h3>{{category.name}}</h3>
      <ul>
        <li *ngFor="let component of category.items">
          <a [routerLink]="[component.id]"
             routerLinkActive="d3f-survey-item-selected">
            {{component.name}}
          </a>
        </li>
      </ul>
    </nav>
  </md-sidenav>

  <div class="d3f-survey-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
