@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import './app-theme';
@import './styles/typography';


// Include material core styles.
@include mat-core();
@include docs-site-typography();


// Define the light theme.
$primary: mat-palette($mat-cyan);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}
