<h2>注册</h2>
<div class="text-center">
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <p>
    <md-input-container>
      <input mdInput placeholder="用户名" name="password" [(ngModel)]="model.username" required>
      <md-error>用户名必须输入</md-error>
    </md-input-container>
    </p>
    <p>
    <md-input-container>
      <input mdInput placeholder="手机号" name="telephone" [(ngModel)]="model.telephone" required>
      <md-error>手机号必须输入</md-error>
    </md-input-container>
    </p>
    <p>
    <md-input-container>
      <input mdInput type="password" placeholder="密码" name="password" [(ngModel)]="model.password" required>
      <md-error>密码必须输入</md-error>
    </md-input-container>
    </p>
    <p>
    <md-input-container>
      <input mdInput type="password" placeholder="重复密码" name="repassword" [(ngModel)]="model.repassword" required>
      <md-error>重复密码不匹配</md-error>
    </md-input-container>
    </p>
    <p>
      <button md-raised-button [disabled]="loading">注册</button>
      <a md-button [routerLink]="['/login']">取消</a>
    </p>
  </form>
</div>
